<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CustomerPanel</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustLogoutServlet</display-name>
    <servlet-name>CustLogoutServlet</servlet-name>
    <servlet-class>com.logout.CustLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustLogoutServlet</servlet-name>
    <url-pattern>/CustLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.logout.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegServlet</display-name>
    <servlet-name>CustomerRegServlet</servlet-name>
    <servlet-class>com.servlet.CustomerRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegServlet</servlet-name>
    <url-pattern>/CustomerRegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginServlet</display-name>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>com.servlet.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/CustomerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceorderServlet</display-name>
    <servlet-name>PlaceorderServlet</servlet-name>
    <servlet-class>com.servlet.PlaceorderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceorderServlet</servlet-name>
    <url-pattern>/PlaceorderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceorderEditServlet</display-name>
    <servlet-name>PlaceorderEditServlet</servlet-name>
    <servlet-class>com.servlet.PlaceorderEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceorderEditServlet</servlet-name>
    <url-pattern>/PlaceorderEditServlet</url-pattern>
  </servlet-mapping>
</web-app>